.container-tree {
    border: 1px solid #000;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

.container-tree-entities {
    display: flex;
   
}

.container-tree-entities .container-tree-entity:first-child {
    border-right: 1px solid #000;
}

.container-tree-entity {
    width: 60%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.individual-tree-entity {
    width:70%;
    padding-bottom:10px;
    padding-top:20px;

}

.title-entity {
    box-sizing: border-box;
    display:flex;
    justify-content:flex-start;
    width:100%;
    padding: 0;
    padding-left: 10px;
  
    border-bottom:1px solid #000;
}